@inherits LayoutComponentBase

<div class="min-vh-100 d-flex align-items-center justify-content-center"
     style="background: linear-gradient(135deg, var(--custom-primary-core), var(--custom-secondary-core));">
    @Body
</div>