@inherits LayoutComponentBase
@inject AuthService Auth
@inject IWebHostEnvironment Environment
@inject ILogger<MainLayout> Logger
@inject NavigationManager Nav
@implements IDisposable

<UserNavbar />
<main class="container-fluid py-4">
    @Body
</main>


@code {

    override protected void OnInitialized()
    {
        try
        {
            if (Auth.CurrentUser != null )
            {
                Auth.OnUserChanged += StateHasChanged;
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error in MainLayout.OnInitialized: {Message}", ex.Message);
        }
    }

    public void Dispose()
    {
        try
        {
            if (Auth != null)
            {
                Auth.OnUserChanged -= StateHasChanged;
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error in MainLayout.Dispose: {Message}", ex.Message);
        }
    }

    private void ReloadPage()
    {
        Nav.NavigateTo(Nav.Uri, forceLoad: true);
    }

}