@inherits LayoutComponentBase
@using TshirtMaker.Components.ui.common

<LandingNavbar />
<div class="relative z-10 flex min-h-screen flex-col overflow-x-hidden">
    @Body
</div>

<div id="blazor-error-ui" class="blazor-error-boundary" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
